Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignConsecutiveMacros: true
AlwaysBreakBeforeMultilineStrings: true
AlignConsecutiveDeclarations: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
