Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignConsecutiveMacros: true
AlwaysBreakBeforeMultilineStrings: true
AllowShortFunctionsOnASingleLine: Empty
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 4
BinPackArguments: false
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
StatementMacros: ["ML99_EVAL", "ML99_CLANG_PRAGMA", "ML99_GCC_PRAGMA"]
